/* about me section styling */
section#about {
  position: relative;
  display: flex;
  position: relative;
  gap: 3rem;
}

section#about .horizontal-separator {
  width: 40vw;
  height: 0.5em;
  align-self: center;
  background-color: var(--clr-secondary-light);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

section#about .separator {
  white-space: nowrap;
  z-index: 1;
}

section#about #about-me-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  gap: 3rem;
  width: 100%;
}

.my-gallery {
  --photo-size: min(80vw, 57vh);
  position: relative;
  min-width: var(--photo-size);
  min-height: var(--photo-size);
  margin: 3rem 0;
  align-self: center;
}

@media only screen and (width <=1300px) {
  section#about {
    flex-direction: column;
    gap: 1rem;
  }

  section#about .separator {
    position: static;
  }

  section#about #about-me-text {
    flex-direction: column;
    align-self: start;
    gap: 1rem;
    margin: 0;
  }

  #about-me-content {
    min-width: 100%;
    margin-bottom: 3rem;
  }

  .my-gallery {
    margin: 1rem;
  }
}

.my-gallery .gallery-img {
  display: grid;
  position: absolute;
  user-select: none;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.my-gallery .gallery-img.hovered {
  box-shadow: var(--box-shadow-short);
	-webkit-box-shadow: var(--box-shadow-short);
	-moz-box-shadow: var(--box-shadow-short);
}

.my-gallery img {
  max-width: var(--photo-size);
  aspect-ratio: 1 / 1;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  object-fit: contain;
}

.my-gallery .gallery-img:hover img {
  transform: scale(1);
}

.my-gallery img.hovered {
  transform: scale(3) translateY(-5%);
}

.gallery-img h4.img-description {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  text-align: right;

  color: var(--clr-font);
  background-color: var(--clr-secondary);

  padding: 0px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 1.25rem;
}

#about-me-content {
  max-width: 40vw;
  font-size: 1.3rem;
  align-self: center;
}

div#about-me-content p+p {
  margin: 2rem 0rem;
}

.special-fx {
  color: var(--clr-secondary);
  padding: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

p#banners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

p#banners img {
  user-select: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  transform: scale(0.75);
  width: min(20%, 256px);
}

p#banners img.hovered {
  animation: bannersAnimation 6s ease infinite;
  -webkit-animation: bannersAnimation 6s ease infinite;
  -moz-animation: bannersAnimation 6s ease infinite;
  -ms-animation: bannersAnimation 6s ease infinite;
  -o-animation: bannersAnimation 6s ease infinite;
}

p#banners img:nth-child(1) {
  animation-delay: 0.1s;
}

p#banners img:nth-child(2) {
  animation-delay: 0.15s;
}

p#banners img:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bannersAnimation {

  0%,
  70% {
    filter: grayscale(1);
    transform: scale(0.75);
  }

  10%,
  20%,
  50%,
  60% {
    filter: none;
    transform: scale(0.9);
  }

  30%,
  40% {
    filter: none;
    transform: scale(0.8);
  }
}