.nav-hamburger-menu-container {
	position: absolute;
	top: 0;
	left: 0;

	display: var(--nav-opt-display);
	background-color: var(--clr-accent);

	transform-origin: top center;
	transform: translateY(-100vh);
	transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;

	animation: openHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
  -webkit-animation: openHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
  -moz-animation: openHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
  -ms-animation: openHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
  -o-animation: openHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
}

.nav-hamburger-menu-container * {
	transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}

.nav-hamburger-menu-container.closed {
	animation: closeHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
  -webkit-animation: closeHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
  -moz-animation: closeHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
  -ms-animation: closeHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
  -o-animation: closeHamburgerMenu ease forwards var(--nav-hamburger-menu-animation-delay);
}

@keyframes openHamburgerMenu {
	0% {
		opacity: 0;
		transform: translateY(-100vh) scale(0.95);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0vh) scale(1);
	}
}

@keyframes closeHamburgerMenu {
	0% {
		opacity: 1;
		transform: translateY(0vh) scale(1);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-100vh) scale(0.95);
	}
}

.nav-hamburger-menu a {
	text-decoration: none;
	text-transform: uppercase;
	user-select: none;
	color: var(--clr-font);
}

.nav-hamburger-menu #hamburger-menu h2 {
	margin-top: 1rem;
}
@media only screen and (width <= 450px) {
	.nav-hamburger-menu #hamburger-menu h2 {
		margin-top: 2rem;
		font-size: 1.75rem;
	}
}

.nav-hamburger-menu #hamburger-menu h4 {
	font-weight: 500;
}

.nav-hamburger-menu {
	border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	height: calc(100dvh - 4rem);
	width: calc(100dvw - 4rem);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin: 2rem;

	box-shadow: var(--box-shadow-short);
	-webkit-box-shadow: var(--box-shadow-short);
	-moz-box-shadow: var(--box-shadow-short);
}

#hamburger-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	margin: 2rem;
}

.nav-hamburger-menu #navigation a {
	color: var(--clr-font-before-hover);
}

.nav-hamburger-menu #navigation a:hover {
	color: var(--clr-font);
}

.nav-hamburger-menu #navigation {
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	align-self: flex-start;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;

	margin: 2rem;
	width: 100%;
}

.nav-hamburger-menu #navigation a {
	padding: 1rem 2rem;
	width: calc(100% - 4rem);
	transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
	box-shadow: 0 1px var(--clr-font);
	-webkit-box-shadow: 0 1px var(--clr-font);
	-moz-box-shadow: 0 1px var(--clr-font);
}

.nav-hamburger-menu #navigation a:hover {
	border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
	-moz-filter: brightness(110%);
	-ms-filter: brightness(110%);
	box-shadow: 0 1px 2px var(--clr-font);
	-webkit-box-shadow: 0 1px 2px var(--clr-font);
	-moz-box-shadow: 0 1px 2px var(--clr-font);
}

@media only screen and (width <= 520px) {
	#hamburger-menu {
		margin: 1rem;
	}
}

#nav-hamburger-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: fit-content;

	scroll-snap-align: end;
	gap: 10px;
	padding: 1.1rem 0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	background-color: var(--clr-box);
	color: var(--clr-font);
}

#nav-hamburger-footer a.source-code-link {
	text-decoration: underline;
	color: var(--clr-font-dark-before-hover);
}

#nav-hamburger-footer a.source-code-link:hover {
	color: var(--clr-font);
}

#collapse-menu-btn {
	--line-offset: 18px;
	--line-offset-when-hover: 24px;
	--line-offset-when-active: 6px;
	scale: 0.25;

	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

@media only screen and (width <= 520px) {
	#collapse-menu-btn {
		scale: 0.2;
	}
}

#collapse-menu-btn rect {
	stroke: var(--clr-font-dark-before-hover);
	stroke-width: 6px;
	fill: var(--clr-font-dark-before-hover);
}

#collapse-menu-btn rect {
	transform-origin: center center;
	transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}

#collapse-menu-btn:hover {
	--line-offset: var(--line-offset-when-hover);
}

#collapse-menu-btn:hover rect:last-child {
	transform: scale(2) rotate(45deg);
}

#collapse-menu-btn:hover rect {
	filter: brightness(120%);
	-webkit-filter: brightness(120%);
	-moz-filter: brightness(120%);
	-ms-filter: brightness(120%);
}

#collapse-menu-btn:active {
	--line-offset: var(--line-offset-when-active);
}

#collapse-menu-btn:active rect:last-child {
	transform: scale(1);
}

#collapse-menu-btn rect:nth-child(1) {
	transform: rotate(-135deg) translate(var(--line-offset));
}

#collapse-menu-btn rect:nth-child(2) {
	transform: rotate(-45deg) translate(var(--line-offset));
}

#collapse-menu-btn rect:nth-child(3) {
	transform: rotate(45deg) translate(var(--line-offset));
}

#collapse-menu-btn rect:nth-child(4) {
	transform: rotate(135deg) translate(var(--line-offset));
}

#collapse-menu-btn rect:nth-child(5) {
	transform: rotate(45deg);
}
