/* nav styling */
nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 2rem;
	background-color: var(--clr-accent);
	max-height: var(--nav-height);
	box-shadow: none;
	z-index: 99;
	transition: all 0.4s;
	margin: 0 auto;
	transform-origin: center top;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

nav ul#navigation {
	margin-right: 2rem;
}

nav ul li a {
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	user-select: none;
	transition: all 0.2s;
}

nav ul li h3 a[href="#"] {
	color: var(--clr-font);
	margin: 0 2rem;
}

nav ul li a[href="#contact"] {
	color: var(--clr-font);
	background-color: var(--clr-secondary);
	box-shadow: none;
	padding: 0.75rem 1.25rem;
	border-radius: 24px;
	text-decoration: none;
}

nav ul li a[href="#contact"]:hover {
	background-color: var(--clr-secondary-light);
	box-shadow: var(--box-shadow-short);
}

nav ul :is(a[href="#about"], a[href="#projects"]) {
	color: var(--clr-font-before-hover);
	padding: 5px 5px;
	box-shadow: none;
	position: relative;
}

nav ul li :is(a[href="#about"], a[href="#projects"]):hover {
	color: var(--clr-font-hover);
}

nav ul#hamburger {
	fill: var(--clr-font);
	stroke: var(--clr-font);
	cursor: pointer;
	display: none;
	transition: all 0.05s;
}

@media only screen and (max-width: 700px) {
	nav ul#navigation {
		display: var(--nav-opt-display);
	}

	nav ul#hamburger {
		display: var(--nav-hamburger-opt-display);
	}
}

@media only screen and (max-width: 520px) {
	nav ul li h3 a[href="#"] {
		margin: 0 1rem;
	}
}
