/* nav styling */
nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 2rem;
	background-color: var(--clr-accent);
	max-height: var(--nav-height);
	box-shadow: none;
	z-index: 99;
	transition: all 0.4s;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

nav ul#navigation {
	padding-right: 2rem;
}

nav ul li a {
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	user-select: none;
	transition: all 0.2s;
}

nav ul li h3 a[href="#"] {
	color: var(--clr-font);
	margin: 0 2rem;
}

nav ul li a[href="#contact"] {
	color: var(--clr-font);
	background-color: var(--clr-secondary);
	box-shadow: none;
	padding: 0.75rem 1.25rem;
	border-radius: 24px;
	text-decoration: none;
}

nav ul li a[href="#contact"]:hover {
	background-color: var(--clr-secondary-light);
	box-shadow: var(--box-shadow-short);
}

nav ul :is(a[href="#about"], a[href="#projects"]) {
	color: var(--clr-font-before-hover);
	padding: 5px 5px;
	box-shadow: none;
	position: relative;
}

nav ul li :is(a[href="#about"], a[href="#projects"]):hover {
	color: var(--clr-font-hover);
}

nav div.hamburger-menu {
	position: absolute;
	top: 0;
	right: -200px;
	height: 100vh;
	width: 200px;
	padding: 2rem 1.5rem;
	text-align: center;
	color: var(--clr-font);
	display: flex;
	flex-direction: column;
	background-color: var(--clr-box);
	gap: 3rem;
	animation: navSlideIn 0.5s forwards;
	user-select: none;
}

nav div.hamburger-menu.closed {
	animation: navSlideOut 0.5s forwards;
}

nav div.hamburger-menu span.hide-sidenav {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	margin-right: 10px;
}

nav ul#hamburger {
	fill: var(--clr-font);
	stroke: var(--clr-font);
	cursor: pointer;
	display: none;
	transition: all 0.4s;
}

nav ul#navigation li a {
	font-size: var(--font-regular-size);
	font-weight: var(--font-regular-weight);
	line-height: var(--font-regular-line-height);
	letter-spacing: var(--font-regular-letter-spacing);
}

@media only screen and (max-width: 700px) {
	nav ul#navigation {
		display: var(--nav-opt-display);
	}

	nav ul#hamburger {
		display: var(--nav-hamburger-opt-display);
	}
}

@media only screen and (max-width: 520px) {
	nav ul li h3 a[href="#"] {
		margin: 0 1rem;
	}
}

@keyframes navSlideIn {
	from {
		display: flex;
		right: -200px;
	}

	to {
		right: 0px;
	}
}

@keyframes navSlideOut {
	from {
		right: 0px;
	}

	to {
		right: -200px;
		display: none;
	}
}