/* projects section */
#projects-section-header {
  margin-bottom: 3rem;
}

#project-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  margin: 2rem 0rem;
  padding: 4rem;
  transition: all 0.4s;
}

#project-card {
  outline: none;
  -webkit-user-drag: none;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--box-shadow-short);

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.5fr 1fr;

  transition: all 0.3s;
  transform: translateX(0%) scale(0.95);
}

#project-card.hover {
  transform: scale(1);
  outline: 1px solid var(--clr-secondary);
}

#project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

h3#project-title {
  text-align: left;
  font-size: 1.3rem;
}

#project-team-size-icon {
  align-self: center;
}

#project-team-size {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1rem;
}

#project-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr;
}

#project-body em {
  font-style: italic;
  align-self: flex-start;
}

#project-languages {
  font-size: 1rem;
  font-weight: 600;
}

#project-description {
  margin-top: 1rem;
  align-self: flex-start;
}

br {
  content: "";
  display: block;
  margin-bottom: 0.5rem;
}

#project-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  gap: 0;
  padding: 1rem 0;
  margin-top: 2rem;

  cursor: pointer;
  position: relative;
  transition: all 0.4s;
}

#project-footer .horizontal-separator {
  border-radius: 12px;
  height: 0.5em;
  flex: 1;

  background-color: var(--clr-secondary-light);
  box-shadow: var(--box-shadow-short);
  filter: grayscale(1);

  transition: all 0.4s;
}

#project-card.hover #project-footer {
  gap: 20%;
}

#project-card.hover .horizontal-separator {
  filter: grayscale(0);
  background-color: var(--clr-secondary);
  transform: translateX(15%);
}

#open-external-icon {
  color: var(--clr-secondary);
  opacity: 0;
  transform: translateX(-100%);

  transition: all 0.4s;
}

#project-card.hover #open-external-icon {
  opacity: 1;
  transform: translateX(0%);
}

@media only screen and (width <=1200px) {
  #project-cards {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr;
    margin: 2rem;
  }

  #project-card {
    height: fit-content;
  }

  #project-body em {
    margin-bottom: 0.5rem;
  }

  #project-body em:last-child {
    margin-bottom: 2rem;
  }

  #project-description {
    align-self: flex-end;
  }
}

@media only screen and (width <=1020px) {
  #project-card {
    gap: 0.75rem;
    height: auto;
  }
}

@media only screen and (width <=800px) {
  #project-title {
    font-size: 1.3rem;
  }

  #project-cards {
    margin: 3rem 1rem;
  }

  #projects-section-header {
    margin-bottom: 2rem;
  }
}

@media only screen and (width <=450px) {
  #project-cards {
    margin: 3rem 0rem;
  }

  #projects-section-header {
    margin-bottom: 0rem;
  }
}