:root {
	--box-shadow-long: 2.1px 1.6px 1.9px rgba(0, 0, 0, 0.015),
		4.9px 3.8px 4.3px rgba(0, 0, 0, 0.022),
		8.8px 6.9px 7.7px rgba(0, 0, 0, 0.026),
		14.6px 11.4px 12.8px rgba(0, 0, 0, 0.029),
		24.1px 18.8px 21.2px rgba(0, 0, 0, 0.033),
		42.1px 32.8px 37px rgba(0, 0, 0, 0.048), 91px 71px 80px rgba(0, 0, 0, 0.12);
	--box-shadow-short: 0.7px 0.7px 2.2px rgba(0, 0, 0, 0.02),
		1.6px 1.6px 5.3px rgba(0, 0, 0, 0.028), 3px 3px 10px rgba(0, 0, 0, 0.035),
		5.4px 5.4px 17.9px rgba(0, 0, 0, 0.042),
		10px 10px 33.4px rgba(0, 0, 0, 0.05), 24px 24px 80px rgba(0, 0, 0, 0.07);

	--clr-primary: #ffffff;
	--clr-accent: #474555;
	--clr-secondary: #fa6065;
	--clr-secondary-light: #ff8888;
	--clr-secondary-accent: #f5f5f5;
	--clr-secondary-dark: #ffe4e1;
	--clr-secondary-darker: #aba9bb;
	--clr-font: var(--clr-primary);
	--clr-font-before-hover: #ffffffa9;
	--clr-font-light: #757575;
	--clr-font-dark: #000000;
	--clr-font-dark-before-hover: var(--clr-font-light);
	--clr-font-hover: var(--clr-font);
	--clr-box: #3f3f3f;

	/* light font properties */
	--font-extra-light-weight: 200;
	--font-extra-light-size: 1rem;
	--font-extra-light-line-height: 22px;
	--font-extra-light-letter-spacing: 1px;

	/* regular font properties */
	--font-regular-weight: 400;
	--font-regular-size: 1rem;
	--font-regular-line-height: 22px;
	--font-regular-letter-spacing: 1px;

	/* medium font properties */
	--font-medium-weight: 500;
	--font-medium-size: 1rem;
	--font-medium-line-height: 22px;
	--font-medium-letter-spacing: 1px;

	/* button font properties */
	--font-button-weight: 400;
	--font-button-size: 1.3rem;
	--font-button-line-height: 29px;
	--font-button-letter-spacing: 1px;

	/* h1-bold font properties */
	--font-h1-bold-weight: 700;
	--font-h1-bold-size: 2.5rem;
	--font-h1-bold-line-height: 88px;
	--font-h1-bold-letter-spacing: 1px;
	--font-h1-bold-spaced-letter-spacing: 5px;

	/* h2-bold font properties */
	--font-h2-bold-weight: 700;
	--font-h2-bold-size: 2rem;
	--font-h2-bold-line-height: 59px;
	--font-h2-bold-letter-spacing: 1px;

	/* h3-bold font properties */
	--font-h3-bold-weight: 700;
	--font-h3-bold-size: 1.5rem;
	--font-h3-bold-line-height: 39px;
	--font-h3-bold-letter-spacing: 1px;

	/* h4-bold font properties */
	--font-h4-bold-weight: 700;
	--font-h4-bold-size: 1.2rem;
	--font-h4-bold-line-height: 29px;
	--font-h4-bold-letter-spacing: 1px;

	/* nav properties */
	--nav-height: 100px;
	--nav-opt-display: none;
	--nav-hamburger-opt-display: flex;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
	transition: ease all 0.2s;
	-o-transition: ease all 0.2s;
	-moz-transition: ease all 0.2s;
	-webkit-transition: ease all 0.2s;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--nav-height) * 0.64);
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

body {
	background-color: var(--clr-primary);
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	min-height: fit-content;
	padding: 1.1rem 0px;
	scroll-snap-align: end;
	background-color: var(--clr-box);
	color: var(--clr-font);
}

a.source-code-link {
	text-align: center;
	cursor: pointer;
	pointer-events: initial;
}

a.source-code-link:hover {
	color: var(--clr-font);
}

/* used to hide things */
.hide {
	display: none;
}

.non-selectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.light-font-clr {
	color: var(--clr-font);
}

.dark-font-clr {
	color: var(--clr-font-dark);
}

.gray-font-clr {
	color: var(--clr-font-light);
}

.non-draggable {
	user-drag: none;
	-webkit-user-drag: none;
}

.medium-font {
	font-size: var(--font-medium-size);
	font-weight: var(--font-medium-weight);
	line-height: var(--font-medium-line-height);
	letter-spacing: var(--font-medium-letter-spacing);
	color: var(--clr-font-light);
}

h1 {
	font-size: var(--font-h1-bold-size);
	font-weight: var(--font-h1-bold-weight);
	line-height: var(--font-h1-bold-line-height);
	letter-spacing: var(--font-h1-bold-spaced-letter-spacing);
}

h2 {
	font-size: var(--font-h2-bold-size);
	font-weight: var(--font-h2-bold-weight);
	line-height: var(--font-h2-bold-line-height);
	letter-spacing: var(--font-h2-bold-letter-spacing);
}

h3 {
	font-size: var(--font-h3-bold-size);
	font-weight: var(--font-h3-bold-weight);
	line-height: var(--font-h3-bold-line-height);
	letter-spacing: var(--font-h3-bold-letter-spacing);
}

h4 {
	font-size: var(--font-h4-bold-size);
	font-weight: var(--font-h4-bold-weight);
	line-height: var(--font-h4-bold-line-height);
	letter-spacing: var(--font-h4-bold-letter-spacing);
}

.separator {
	display: flex;
	align-items: center;
	margin: 1rem;
}

.line {
	fill: var(--clr-font);
	box-shadow: var(--box-shadow-short);
	margin-right: 2rem;
}

img {
	width: 100%;
	object-fit: cover;
}

/* nav styling */
nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 2rem;
	background-color: var(--clr-accent);
	max-height: var(--nav-height);
	box-shadow: none;
	z-index: 99;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

nav ul#navigation {
	padding-right: 2rem;
}

nav ul li a {
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	user-select: none;
}

nav ul li h3 a[href="#"] {
	color: var(--clr-font);
	margin: 0 2rem;
}

nav ul li a[href="#contact"] {
	color: var(--clr-font);
	background-color: var(--clr-secondary);
	box-shadow: none;
	padding: 0.75rem 1.25rem;
	border-radius: 24px;
	text-decoration: none;
}

nav ul li a[href="#contact"]:hover {
	background-color: var(--clr-secondary-light);
	box-shadow: var(--box-shadow-short);
}

nav ul :is(a[href="#about"], a[href="#projects"]) {
	color: var(--clr-font-before-hover);
	padding: 5px 5px;
	box-shadow: none;
	position: relative;
}

nav ul li :is(a[href="#about"], a[href="#projects"]):hover {
	color: var(--clr-font-hover);
}

nav div.hamburger-menu {
	position: absolute;
	top: 0;
	right: -200px;
	height: 100vh;
	width: 200px;
	padding: 2rem 1.5rem;
	text-align: center;
	color: var(--clr-font);
	display: flex;
	flex-direction: column;
	background-color: var(--clr-box);
	gap: 3rem;
	animation: navSlideIn 0.5s forwards;
	user-select: none;
}

nav div.hamburger-menu.closed {
	animation: navSlideOut 0.5s forwards;
}

nav div.hamburger-menu span.hide-sidenav {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	margin-right: 10px;
}

nav ul#hamburger {
	fill: var(--clr-font);
	stroke: var(--clr-font);
	cursor: pointer;
	display: none;
}

nav ul#navigation li a {
	font-size: var(--font-regular-size);
	font-weight: var(--font-regular-weight);
	line-height: var(--font-regular-line-height);
	letter-spacing: var(--font-regular-letter-spacing);
}

@media only screen and (max-width: 675px) {
	nav ul#navigation {
		display: var(--nav-opt-display);
	}

	nav ul#hamburger {
		display: var(--nav-hamburger-opt-display);
	}
}

@keyframes navSlideIn {
	from {
		display: flex;
		right: -200px;
	}

	to {
		right: 0px;
	}
}

@keyframes navSlideOut {
	from {
		right: 0px;
	}

	to {
		right: -200px;
		display: none;
	}
}

section {
	min-height: 100vh;
	padding-top: calc(var(--nav-height) * 0.35);
	scroll-snap-align: start;
}

/* main section styling */
main {
	min-height: 100vh;
	background-color: var(--clr-accent);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	padding: 0px 2rem;
}

main .separator .line {
	fill: var(--clr-secondary);
}

main .separator div.info {
	margin: 1rem;
}

main .separator p {
	color: var(--clr-font-light);
}

main div.info h1 {
	font-size: 3.5rem;
	margin-bottom: 0.75rem;
}

main div.info h4 {
	font-weight: 500;
	font-size: 1.1rem;
}

main>*:not(svg) {
	z-index: 1;
}

main svg#bg-visual {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

main svg#bg-visual g>circle {
	transition: all 0.2s, cx 1s, cy 1s;
	-o-transition: all 0.2s, cx 1s, cy 1s;
	-moz-transition: all 0.2s, cx 1s, cy 1s;
	-webkit-transition: all 0.2s, cx 1s, cy 1s;
	opacity: 0.9;
	box-shadow: none;
}

main svg#bg-visual g>circle:hover {
	fill: var(--clr-secondary-light);
	box-shadow: var(--box-shadow-short);
	transform: translate(12px, 10px);
}

.main-info {
	margin-top: 2rem;
	margin-left: 4.5rem;
}

.main-info-btns {
	display: flex;
	gap: 1rem 2rem;
	margin-bottom: 2rem;
}

@media only screen and (width <=475px) {
	.main-info-btns {
		flex-direction: column;
	}
}

@media only screen and (width <=500px) {
	.main-info-btns {
		gap: 1rem 1rem;
	}
}

.main-info button {
	all: unset;
	cursor: pointer;

	--btn-width: 140px;
	--btn-height: 36px;
	width: var(--btn-width);
	height: var(--btn-height);
	text-align: center;
	border-radius: 24px;
	box-shadow: var(--box-shadow-short);
}

button#primary {
	background-color: var(--clr-secondary);
	color: var(--clr-font);
	width: calc(var(--btn-width) + 1px);
	height: calc(var(--btn-height) + 1px);
	border: 1px solid var(--clr-secondary);
}

button#primary:hover {
	color: var(--clr-font);
	background-color: var(--clr-secondary-light);
}

button:is(:not(button#primary)) {
	background-color: transparent;
	color: var(--clr-font);
	border: 1px solid var(--clr-font);
}

button:is(:not(button#primary)):hover {
	color: var(--clr-font-dark);
	background-color: var(--clr-primary);
}

button.resume-dl-btn {
	color: var(--clr-font);
}

div.social-links a {
	text-decoration: none;
	color: var(--clr-font);
	margin: 0.5rem;
}

i {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

/* select all even sections */
section:nth-child(even) {
	/* background-color: var(--clr-accent); */
	/* color: var(--clr-font); */
}

section:not(:first-of-type):nth-child(even) rect {
	/* fill: var(--clr-font); */
}

/* about me section styling */
section#about {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	position: relative;
	padding: 2rem;
}

section#about .separator {
	position: absolute;
	white-space: nowrap;
	z-index: 1;
}

section#about #about-me-text {
	margin: 5rem;
	align-self: center;
}

@media only screen and (width <=1020px) {
	section#about {
		padding-top: 10px;
		flex-direction: column;
	}

	section#about .separator {
		position: static;
	}

	section#about #about-me-text {
		align-self: start;
		margin: 2rem 0rem;
	}
}

.my-gallery {
	--photo-size: min(80vw, 57vh);
	position: relative;
	min-width: var(--photo-size);
	min-height: var(--photo-size);
	margin-top: 2rem;
	align-self: center;
}

.my-gallery .gallery-img {
	display: grid;
	position: absolute;
	user-select: none;
	overflow: hidden;
	border-radius: 1rem;
	transition: all 0.5s;
}

.my-gallery .gallery-img:hover {
	box-shadow: var(--box-shadow-short);
}

.my-gallery img {
	max-width: var(--photo-size);
	aspect-ratio: 1 / 1;
	opacity: 0.9;
	transition: all 0.5s ease;
	object-fit: contain;
}

.my-gallery img:hover {
	transform: scale(3);
}

.gallery-img h4.img-description {
	position: absolute;
	align-self: flex-end;
	justify-self: flex-end;
	text-align: right;
	color: var(--clr-font);
	background-color: var(--clr-secondary);
	padding: 0px 10px;
	border-radius: 10px;
	margin: 1.2rem;
}

div#about-me-content {
	max-width: 40vw;
	font-size: 1.3rem;
}


@media only screen and (width <=1020px) {
	div#about-me-content {
		max-width: 100vw;
	}
}

div#about-me-content p+p {
	margin-top: 1rem;
}

.special-fx {
	color: var(--clr-secondary);
	padding: 0.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

p#banners {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

p#banners img {
	user-select: none;
	transition: all 0.5s;
	filter: grayscale(1);
	transform: scale(0.75);
}

p#banners img:hover {
	filter: none;
	transform: scale(1);
}

/* contact section styling */
section#contact {
	background-color: var(--clr-accent);
	color: var(--clr-font);
	padding: 3rem;
	height: 100%;
}

section#contact div#contact-title :last-child {
	margin: 1rem 0 4rem;
}

section#contact form {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

section#contact form input,
section#contact form button,
section#contact form textarea {
	max-width: max(50%, 500px);
	padding: 1.1rem;
	border-color: transparent;
	border-radius: 10px;

	background-color: var(--clr-box);
	color: var(--clr-font);
	box-shadow: none;
}

section#contact form input:focus,
section#contact form button:focus,
section#contact form textarea:focus {
	box-shadow: var(--box-shadow-short);
}

section#contact form textarea {
	height: 200px;
	resize: none;
}

/* Send message submit button */
section#contact form button {
	width: fit-content;
	padding: 0.5rem 2rem;
	color: var(--clr-font);
	background-color: var(--clr-secondary);
	font-size: 1rem;
	cursor: pointer;
	box-shadow: none;
}

section#contact form button:hover {
	box-shadow: var(--box-shadow-short);
}

/* projects section */
section#projects {
	padding: 2rem;
	padding-bottom: 5%;
}

#project-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 0 7%;
	padding: 5% 5%;
}

#project-card {
	user-drag: none;
	-webkit-user-drag: none;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: var(--box-shadow-short);

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 69vw;

	transition: all 0.2s ease;
	transform: translateX(0%);
}

#project-card:hover {
	background-color: var(--clr-secondary-light);
	color: var(--clr-font);
}

#project-card:hover #project-img {
	filter: grayscale(0);
	background-color: var(--clr-primary);
}

#project-img {
	transition: all 0.5s ease;
	height: 1%;
	background-color: var(--clr-secondary-light);
	filter: grayscale(1);
	border-radius: 12px;
}

#project-body {
	height: auto;
}

#project-description {
	transition: all 0.1s;
}

#project-title {
	transition: all 0.1s;
	text-align: center;
}

/* why-me section */
section#why-me {
	padding: 2rem;
}

/* media queries for screen width */
/* screen width sizes 
--mobile-small-screen-width: 31rem;
--mobile-medium-screen-width: 375px;
--mobile-large-screen-width: 425px;
--tablet-screen-width: 768px; 
*/
@media only screen and (width <=375px) {
	:root {
		--font-h1-bold-size: 1.75rem;
	}
}

@media only screen and (width <=425px) {

	nav div.hamburger-menu,
	nav {
		margin: 0;
	}

	.separator .line {
		margin-right: 1rem;
	}

	.separator .info h1 {
		font-size: 3rem;
	}

	section#main main .main-info {
		margin-left: 2rem;
	}

	section#main main,
	section#projects,
	section#contact,
	section#why-me,
	section#about {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	section#main main .separator,
	section#projects .separator,
	section#contact .separator,
	section#why-me .separator,
	section#about .separator {
		margin: 0;
		margin-left: 0.25rem;
		margin-right: 0.5rem;
		margin-top: 2rem;
		white-space: normal;
	}
}